<section
  class="relative min-h-screen flex flex-col justify-center items-center text-center py-12"
  >
  <h2 class="text-3xl font-bold mb-10 text-center">Galería de recuerdos: el pasado nos inspira, ¡y el futuro lo haremos juntos!</h2>
  <h3 class="text-2 font-bold mb-12 text-center">Cada sonrisa cuenta, y este año queremos ver la tuya en nuestra galería.</h3>
  <div class="grid mb-8">
    <div class="gallery" [style.--n]="numberOfImages">
      @for (image of images; track image) {
        <img [src]="image.src" [alt]="image.alt">
      }
    </div>
  </div>
</section>