<section class="py-12">
  <h2 class="text-3xl font-bold mb-10 text-center">¡Sé el DJ de nuestra noche mágica!</h2>
  <h3 class="text-2 font-bold mb-5 text-center">Elige las canciones que harán vibrar a todos en nuestra fiesta navideña.  </h3>
  <form (ngSubmit)="submitForm()" class="bg-gray-800 p-6 rounded-lg shadow-lg space-y-4 max-w-md mx-auto">
    <label for="name" class="block">Nombre del artista</label>
    <input
      id="name"
      type="text"
      [(ngModel)]="name"
      name="userName"
      class="w-full p-2 rounded-lg border"
      placeholder="Escribe el nombre"
      required
    />

    <label for="songName" class="block">Nombre de la canción</label>
    <input
      id="songName"
      type="text" 
      [(ngModel)]="songName"
      name="songName"
      class="w-full p-2 rounded-lg border"
      placeholder="Escribe la canción"
      required
    />

    <button
      type="submit"
      class="w-full bg-green-500 p-2 rounded-lg text-white font-bold"
    >
      Enviar
    </button>
  </form>
</section>
