<main class="min-h-screen relative overflow-hidden">
  <button
    id="themeToggle"
    (click)="toggleTheme()"
    class="fixed bottom-6 right-6 bg-gray-800 text-white p-3 rounded-full shadow-lg hover:scale-110 transition-all z-50"
    >
    @if (!ThemeService.isDarkTheme) {
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
        ></path>
      </svg>
    }
    @if (ThemeService.isDarkTheme) {
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
        ></path>
      </svg>
    }
  </button>

  <app-snowfall-animation></app-snowfall-animation>
  <div class="container mx-auto px-4 py-8">
    <app-hero-section></app-hero-section>
    <app-event-details></app-event-details>
    <app-timeline></app-timeline>
    <app-activities></app-activities>
    <app-gallery></app-gallery>
    <app-rsvp-form></app-rsvp-form>
  </div>
  <app-footer></app-footer>
</main>
<router-outlet></router-outlet>
